# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Binarios generados (output)
output/**/*.xlsx
output/**/*.pdf
output/**/*.pptx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
